.container{
    padding: 20px;
    margin-top: 0;
    display: flex;
    height: 874px;
    /* justify-content: center; */
    align-items: center;
    margin: 0 auto;
    max-width: 25rem;
    box-sizing: border-box;
    position: relative; /* 부모를 relative로 설정 */
    flex-direction: column; /* 모든 자식을 세로로 정렬 */
}

/* 헤더 스타일 */
.header {
    display: flex;
    align-items: center; /*세로로 가운데 정렬*/
    gap: 3px; /* 이미지와 텍스트 사이 간격 */
    margin-bottom: 10px; /* 아래 여백 */
    width: 100%;
    /* width: calc(100% - 40px); 부모 padding 고려 */
    flex-direction: column;
}

/* 뒤로가기 버튼이랑 페이지 타이틀 섹션 */
.pagetitle {
    display: flex;
    align-items: center; /*세로로 가운데 정렬*/
    gap: 3px; /* 이미지와 텍스트 사이 간격 */
    margin-bottom: 10px; /* 아래 여백 */

    width: calc(100% - 40px); /* 부모 padding 고려 */
    /* 헤더를 바디의 맨 위로 배치 */
    top: 40px; /* 폼 아래쪽에서 20px 간격 */
    bottom: 40px;
}

/* 백버튼 */
.backbutton {
    width: 40px; /* 아이콘 너비 */
    height: auto; /* 비율 유지 */
    margin-right: 1px; /* 텍스트와 간격 */
    cursor: pointer;
    align-items: left;
    margin-left: -25px; /* 왼쪽으로 더 붙이기 */
}

.header h2 {
    font-size: 24px; /* 텍스트 크기 */
    font-weight: bold;
    margin: 0; /* 기본 여백 제거 */
}

/* 단계 표시 바 */
.progressBar {
    display: flex;
    gap: 5px; /* 간격을 원하는 픽셀 값으로 설정 */
    align-items: center;
    height: 40px;
    margin-bottom: 20px; /* 단계 표시 바와 폼 사이 간격 */
    width: 100%;
}

.step {
    width: 70px;
    height: 3px;
    background-color: var(--big-border-color);
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.step.active {
    background-color: var(--blue-border-color);
}

/* 콘텐츠 컨테이너 */
.content {
    display: flex;
    flex-direction: column;
    gap: 20px; /* 콘텐츠 간의 간격 */
}

/*  폼 스타일 */
.partnershipform {
    width: 25rem;
    border-radius: 10px;
    flex-direction: column;
    padding: 20px;
    box-sizing: border-box;
}

/* 인풋 창 스타일 */
.inputgroup {
    margin-bottom: 32px;
}


/* 텍스트 스타일 */

.titletext{
    font-size: 22px;
    font-weight: 600;
    white-space: pre-line;
}

.subtext {
    font-size: 12px;
    color: var(--black-text-color);
    margin-bottom: 20px;
    font-weight: normal;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--black-overlay);
    display: flex;
    justify-content: center;
    align-items: flex-end;
    z-index: 1000;
}

.submitButton {
    width: 370px;
    height: 45px;
    width: calc(100% - 40px); /* 부모 padding 고려 */
    background-color: var(--lowgray-color);
    color: var(--color-white);
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;

    /* 버튼을 바디의 맨 아래로 배치 */
    position: absolute;
    bottom: 20px; /* 폼 아래쪽에서 20px 간격 */
    left: 20px; /* 폼 왼쪽에서 20px 간격 */

}

.submitButton:hover {
    background-color: var(--blue-border-color);
}
