/* 공통 스타일 */
.bottomSheetOverlay {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    margin: 0 auto;
    max-width: 25rem;
    background-color: var(--black-overlay);
    box-shadow: var(--box-shadow-overlay);
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    animation: slideUp 0.3s ease-in-out;
}

.bottomSheet {
    background-color: var(--color-white);
    width: 100%;
    max-width: 500px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    padding: 20px;
    box-sizing: border-box;
}

.title {
    font-size: 18px;
}

.checklabel {
    display: flex;
    align-items: center;
}

.checklabel input {
    width: 50px;
    height: auto;
}

.checklabel span {
    display: flex;
    align-items: center;
}

.buttongroup {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    margin-top: 20px;
}
.closeButton {
    height: 45px;
    width: 200px;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s;
}
.confirmButton {
    height: 45px;
    width: 200px;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    font-weight: bold;
    /* display: flex;
    justify-content: flex-end; */
    cursor: pointer;
    transition: background-color 0.3s;
}

.closeButton {
    background-color: var(--gray-background-color);
    color: var(--darkgray-text-color);
}

.confirmButton {
    background-color: var(--blue-text-color);
    color: var(--color-white);
}

.closeButton:active {
    background-color: var(--color-white);
}

.confirmButton:active {
    background-color: var(--blue-text-color);
}

@keyframes slideUp {
    from {
        transform: translateY(100%);
    }
    to {
        transform: translateY(0);
    }
}